# bin
/bin
!/bin/.keep

# internal/infra/mysql
/internal/infra/mysql/dump
!/internal/infra/mysql/dump/.keep
/internal/infra/mysql/log
!/internal/infra/mysql/log/.keep

# internal/logger/app
/internal/logger/app/log
!/internal/logger/app/log/.keep
