# bin
/bin
!/bin/.keep

# pkg/infra/mysql
/pkg/infra/mysql/dump
!/pkg/infra/mysql/dump/.keep
/pkg/infra/mysql/log
!/pkg/infra/mysql/log/.keep

# internal/logger/app
/internal/logger/app/log
!/internal/logger/app/log/.keep
