.idea
build
configs/mysql.cnf
deployments
docs
pkg/infra/mysql/log
pkg/infra/mysql/dump
pkg/infra/mysql/initdb.d
internal/logger/app/log
scripts/make
docker-compose.yml
Makefile
.markdownlint.yml
README.md